source/ChickenSoftware.SomeInsuranceCompany.Solution/ChickenSoftware.CustomerProcessor/Service References/ChickenSoftware.Cdyne/sms2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/SmsWS" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SmsWS" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://sms2.cdyne.com/sms.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://sms2.cdyne.com/sms.svc?xsd=xsd0" namespace="http://sms2.cdyne.com" />
  <xs:complexType name="SMSAdvancedRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Concatenate" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsUnicode" type="xs:boolean" />
      <xs:element minOccurs="0" name="LicenseKey" type="ser:guid" />
      <xs:element xmlns:q1="http://sms2.cdyne.com" minOccurs="0" name="SMSRequests" nillable="true" type="q1:ArrayOfSMSRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SMSAdvancedRequest" nillable="true" type="tns:SMSAdvancedRequest" />
</xs:schema>